.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255)
}

.paral {
    display: flex;
    width: 100vw;
    max-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

h1 {
    font-size: 6rem;
    margin-top: 10rem;
}

.header {
    margin-top: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.logo {
    display: block;
    width: 30vw;
    height: auto;
}

.container-left {
    display: flex;
    height: 100vh;
    align-items: center;
    align-self: flex-start;
    font-size: 3rem;
    color: white;
    margin-left: 10vw;
}

.container-left-inf {
    display: flex;
    height: 100vh;
    align-items: center;
    align-self: flex-start;
    font-size: 3rem;
    color: white;
    margin-left: 10vw;
}

.container-right-inf {
    display: flex;
    height: 100vh;
    align-items: center;
    align-self: flex-end;
    font-size: 3rem;
    color: white;
    width: 45vw;
    color: rgb(36, 35, 92);
}

.container-right-inf h2 {
    font-size: 2rem;
}

.container-right-inf a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(36, 35, 92);
    border-bottom: 1px solid rgb(36, 35, 92);
    margin-top: 0.5rem;
}

.container-right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    align-items: flex-start;
    align-self: flex-end;
    font-size: 3rem;
    color: white;
}

.container-right h1 {
    font-size: 2rem;
    height: fit-content;
    margin-right: 3rem;
    margin-top: 0rem;
}

.container-right ul {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.todo-embed {
    min-height: 70vh;
    max-height: 70vh;
    height: fit-content;
    width: 55vw;
    overflow-y: scroll;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.live-version {
    text-decoration: none;
    cursor: pointer;
    color: white;
    border-bottom: 3px solid white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.pdf {
    display: flex;
    height: 60vh;
    min-width: 70vw;
    justify-content: center;
    width: auto;
    overflow-y: scroll;
    border: 2px solid black;
}

.react-pdf__Page__annotations annotationLayer {
    max-height: 0vh;
    margin: none;
}
.LI-simple-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(36, 35, 92);
    border-bottom: 1px solid rgb(36, 35, 92);
}

.col {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}